#  IDE specific      #
#####################
*.ncrunchsolution
*.user
*.suo
*.opensdf
*.sdf
ipch
*/temp/*
kak
*/Visual Micro/*
Temp/*
/3dPrintedParts/AutoSave_ServoArm.skp
/3dPrintedParts/ServoArm.gcode
