<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LOGENTRIES_TOKEN" value="cc0061f7-80f4-491f-93a3-d213c12d84b4"  />
    <add key="MONGOLAB_URI" value="mongodb://appharbor_2ef84f6e-23c2-48be-a539-75cde22ccf86:ufilukstbiits9a7ickc0duj71@ds039417.mongolab.com:39417/appharbor_2ef84f6e-23c2-48be-a539-75cde22ccf86"  />
  </appSettings>
</configuration>