<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MONGOLAB_URI" value="mongodb://appharbor_f9a8cacb-f25c-48f1-abee-6150ab31592d:g9fchakr68ijuhclojdst3uj76@ds037007.mongolab.com:37007/appharbor_f9a8cacb-f25c-48f1-abee-6150ab31592d" />
  </appSettings>
</configuration>