<header>
    
</header>
<div id="body">
    <div class="container">
        <h2 class="form-signin-heading">Update schedule</h2>
        <form action="/" class="form-signin" id="mac-input" method="POST">
            <input class="input-block-level" 
                   data-message="Please enter valid mac address in format eg.3D:F2:C9:A6:B3:4F " 
                id="mac" name="mac" pattern="^([0-9A-F]{2}[:-]){5}([0-9A-F]{2})$" placeholder="Device MAC address" required="required" 
                type="text" value="3D:F2:C9:A6:B3:4F">
            <br />
            <button class="btn btn-large btn-primary" type="submit">Sign in</button></form>
    </div>
</div>